# Python code samples in "Object Oriented Programming vs. Functional Programming"

The Python code snippets in this notebooks are based on this article:
https://www.codenewbie.org/blogs/object-oriented-programming-vs-functional-programming, which originally written in `Ruby` language.

# Object-Oriented Programming

```ruby
class Employee
  def initialize(name, salary)
    @name = name
    @salary = salary
  end

  def change_salary(amt)
    @salary = @salary + amt
  end

  def description
    "#{@name} makes #{@salary}"
  end
end
```

In [5]:
class Employee:
    
    
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    
    def change_salary(self, amt):
        self.salary = self.salary + amt
        
    def __repr__(self):
        return "#{} makes #{}".format(self.name, self.salary)

```ruby
employees = [
  Employee.new("Bob", 100000.0),
  Employee.new("Jane", 125000.0)
]
```

In [6]:
employees = [
  Employee("Bob", 100000.0),
  Employee("Jane", 125000.0)
]

In [7]:
employees

[#Bob makes #100000.0, #Jane makes #125000.0]

```ruby
employees.each do |emp|
  emp.change_salary(10000.0)
end
```

In [8]:
for emp in employees:
    emp.change_salary(10000.0)

In [9]:
employees

[#Bob makes #110000.0, #Jane makes #135000.0]

```ruby
employees.each do |emp|
  puts emp.description
end
```

In [10]:
for emp in employees:
    print(emp)

#Bob makes #110000.0
#Jane makes #135000.0

# Functional Programming

```ruby
employees = [
  [ "Bob",  100000.0 ],
  [ "Jane", 125000.0 ]
]
```

In [11]:
employees = [
  [ "Bob",  100000.0 ],
  [ "Jane", 125000.0 ]
]

```ruby
happier_employees = change_salaries(employees, 10000.0)
```

In [13]:
def change_salaries(employees, amt):
    return [[x[0], x[1] + amt] for x in employees]

happier_employees = change_salaries(employees, 10000.0)

In [14]:
happier_employees

[['Bob', 110000.0], ['Jane', 135000.0]]

```ruby
happier_employees.each do |emp|
  puts "#{emp[0]} makes #{emp[1]}"
end
```

In [16]:
for emp in happier_employees:
    print("#{} makes #{}".format(emp[0], emp[1]))

#Bob makes #110000.0
#Jane makes #135000.0